body{
    background-color: #a37691;
    

}


.card{
    position: relative;
    width: 330px;
    height: 665px;
    margin: 15px;
    box-shadow: 0 2px 20px rgb(63, 63, 63);
    overflow: hidden;
    background: #ffffff;
    border-radius: 15px;
    transition: all 0.8s ease-in-out;
}



.card img{
    position: relative;
    width: 300px;
    height: 400px;
    margin: 15px;
    box-shadow: 0 2px 20px rgb(117, 117, 117);
    overflow: hidden;
    background: #414852;
    border-radius: 15px;
    transition: all 0.8s ease-in-out;
}

.card button{
    background-color: rgba(0, 0, 0, 0.17);
    color: #000;
    padding: 10px 15px;
    border-radius: 4px;
    font-size: 12px;
    font-weight: bold;
    border: 0;
    letter-spacing: 1px;
    margin: 15px;
  

    
}

.card h5{
    background-color: #ffffff;
    width: 100px;
    height: 40px;
    margin: 15px;
    padding: 10px 15px;
    border-radius: 4px;
   
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    
}

.card h6{
    background-color: #ffffff;
    width: 100px;
    height: 40px;
    margin: 15px;
    border-radius: 4px;
    padding: 10px 15px ;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: middle;
    display: flex;
    align-items: center;
}